# This file is responsible for loading the environment variables and setting up the python environment.
# It is loaded automatically when you cd into the directory.
# Learn more about direnv here: https://stackabuse.com/managing-python-environments-with-direnv-and-pyenv/

layout pyenv 3.10.0

# Load dotenv files here once relevant...